body{
    padding: 50px;
}
p{
    margin: 0px;
    cursor: pointer;
}

.list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.complete {
    text-decoration: line-through;
}